.kop{
    padding-top: 0%;
    top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    position:fixed;
    margin-top: -175px;
}

@page {
    size: A4;
    margin: 175px 0px 100px 0px;
    font-family: 'Times New Roman';
    font-size: 11px;
    page-break-after: always;
}

.isi{
    margin-left: 8%;
    margin-right: 8%;
}

.ttd{
    border:none;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-left: 10%;
    position: absolute;
}
