@page {
    size: A4;
    margin: 145px 0px 100px 0px;
}

.isi{
    margin-left: 8%;
    margin-right: 8%;
}

.ttd{
    border:none;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-left: 10%;
    position: absolute;
}
